[Desktop Entry]
Version=1.0
Type=Application
Name=Start Tare Kiosk
Comment=
Exec=systemctl --user start TareKiosk.service
Icon=sync-synchronizing
Path=$HOME
Terminal=false
StartupNotify=false
