[Desktop Entry]
Version=1.0
Type=Application
Name=Stop Tare Kiosk
Comment=
Exec=systemctl --user stop TareKiosk.service
Icon=software-update-urgent
Path=$HOME
Terminal=false
StartupNotify=false
