[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Tare Kiosk
Comment=kiosque de tare
Exec=systemctl --user start TareKiosk.service
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

