[Unit]
Description=Tare Scale Kiosk
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 script-dir/gui.py

[Install]
WantedBy=multi-user.target

